<h1>Pedidos Pendientes</h1>

<div class="card-container">

  <div class="card">
    <!-- Contenido de la card -->
    <div class="card-title">
      Titulo
    </div>

    <div class="card-subtitle">
      Subtitulo
    </div>

    <div class="card-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas in vero quas ipsam aliquid quam officia ducimus eaque dolore amet?
    </div>`

    <div class="card-actions">
      <button class="button button-primary">Mostrar</button>
    </div>
    
  </div>

  
</div>




<router-outlet></router-outlet>
