<br>
<br>
<br>
<div class="card-container">

    <div *ngFor="let order of allOrder; index as i" class="card">
        <div class="card-title">
          Pedido #{{i+1}}
        </div>
        <div class="card-subtitle">
          Enviar a: {{order.direccion}}
        </div>
        <div class="card-subtitle">
          Total del pedido: Q{{order.total}}
        </div>
        <div class="card-content">
          platillos:
          <ul>
            <li *ngFor="let platillo of order.platillos">{{platillo.nombre}} = {{platillo.cantidad}}</li>
          </ul>
        </div>`
        <div class="card-actions">
          <button class="button button-primary">Atender</button>
        </div>
      </div>                                           

  
</div> 
